.imprint-html * {
  margin: revert;
  padding: revert;
  font-size: revert;
  font-weight: revert;
}

.chakra-popover__popper.chakra-popover__popper,  .chakra-menu__menu-button.chakra-menu__menu-button + span + div, .chakra-menu__menu-button + [style*="--popper-transform-origin"] {
  margin: 0;
}
